<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/cadastro.js')}}" defer></script>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Simulação</title>
</head>
<body>
    <div id="cad_main" class="container f center">
        <div id="pg" class="f "><p id="pg_txt">0/6</p></div>
        <div id="cad_text_area" class="f center ">
            <p id="cad_text">
                Nós somos a PsyBudget, a melhor forma de planejar e simular a sua futura clinica
            </p>
        </div>
        <div id="cad_input" class="w center">
            <input id="cad_i"  type="text" placeholder="Insira aqui o nome da imobiliaria" class="off">
            <button id="cad_b" onclick="registrationHandler()">Continuar</button>
        </div>
    </div>
</body>
</html>