<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="{{url_for('static',filename='js/index.js')}}" defer></script>
        <title>PsyBudget</title>
</head>
<body>
    <div id="main" class="container f center">
        <div id="index_circle" class="f center">
            <p id="txt_index">PsyBudget</p>
        </div>
    </div>
</body>
</html>