<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="{{url_for('static',filename='js/simulacao.js')}}" defer></script>
    <title>Simulação</title>
</head>
<body>
    <div id="simulacao_main" class="container f">
        <div id="s_cabecalho" class="w">
            <div class="opt_container select f center">
                <p>Simular</p>
            </div>
            <div class="opt_container f center">
                <p>Locações</p>
            </div>
        </div>
        <div id="s_content" class="w f center">
            <div id="simulacao_container" class="w">           
            </div>
        </div>
    </div>
</body>
</html>