<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Simulação</title>
</head>
<body>
    <div id="simulacao_main" class="container f">
        <div id="s_cabecalho" class="w">
            <div class="opt_container select f center">
                <p>Simular</p>
            </div>
            <div class="opt_container f center">
                <p>Locações</p>
            </div>
        </div>
        <div id="s_content" class="w f center">
            <div id="content_area">
                <div id="area_1" class="f h">
                    <div id="container_locataria" class="w f">
                    <p id="locataria">Locataria</p>
                    </div>
                    <div id="qtd_salas">
                        <img>
                        <p class="txt_a1">qtd salas</p>
                    </div>
                    <div id="localizacao">
                        <img>
                        <p class="txt_a1">localizacao</p>
                    </div>
                    <div id="site">
                        <img>
                        <a href="">Acesse o site de imobiliaria</a>
                    </div>
                </div>
                <div id="area_2" class="f ">
                    <div id="preco" class="f w">
                        <p id="valor">R$ 6000</p>
                    </div>
                    <div id="sim" class="f w">
                        <p id="Simular">Simular</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>