*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
input:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0;
    outline: 0;
}
  
body{
    width: 100vw;
    height: 100vh;
}

.f{
    display: flex;
}
.w{
    width: 100%;
}
.h{
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}

.center{
    justify-content: center;
    align-items: center;
}

#index_circle{
    width: 500px;
    height: 500px;

    border-radius: 50%;
    background-color: #D3A6E2;
    transition: 0.5s;
    
    p{
        color: #FFFFFF;
        font-size: 70px;
        padding-left:70px;
        transition: 0.5s;
    }
}
#index_circle:hover{
    cursor: pointer;
    width: 510px;
    height: 510px;
    P{
        font-size: 75px;
    }
}

#main{
    background-color: #9F4FA6;
}

#simulacao_main{
    background-color: #D3A6E2;
    flex-direction: column;
}

#s_cabecalho{
    height: 10%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;



    background-color: #9F4FA6;
}
.opt_container{
    height: 70%;
    width: 6%;

    margin-right: 50px;

    p{
        color: #FFFFFF;
        font-size: 0.8rem;
    }
}
.opt_container.select{
    height: 70%;
    width: 6%;
    border-radius: 30px;
    margin-right: 50px;
    background-color: #EEE3F1;



    p{
        color: #9F4FA6;
        font-weight: bold;
    }
}
.opt_container:hover{
    cursor: pointer;
}
#s_content{
    height: 90%;
    background-color: #D0ABDA;
}
#content_area{
    height: 80%;
    width: 70%;
    background-color: #EEE3F1;
    border-radius: 30px;

    display: inline-flex;
}

#area_1{
    width: 60%;
    flex-direction: column;
    margin-left: 3%;

}
#container_locataria{
    height: 10%;
    align-items: flex-end;
    p{
        font-size: larger;
    }
}
#area_2{
    flex-direction: column;
    width: 40%;
    height: 90%;
}
#Simular{
    align-self: flex-end;
    font-weight: bold;
    font-size: 2rem;
}
#Simular:hover{
    cursor: pointer;
}
#valor{
    font-size: 2rem;
}
#preco{
    height: 70%;
    align-items: center;
}
#sim{
    height: 30%;
    color: #9F4FA6;
}
#cad_main{
    background-color:#D0ABDA ;
}
#cad_text_area{
    height: 70%;
    p{
        color: #FFFFFF;
        font-size: 70px;
        animation: fadein 2s ;
        margin-top: 8%;
    }
}
#cad_input{
    display: inline-flex;
    height: 30%;
    animation: fadein 3s;
        input{
            margin-left: 10px;
            height: 50px;
            font-size: 40px;
            background-color: transparent;
            border-left: none;
            border-top: none;
            border-right: none;
            box-sizing: border-box;
            color: #FFFFFF;
            border-color:#9F4FA6;
        }
        button{
            height: 50px;
            font-size: 40px;
            font-weight: bold;
            color: #9F4FA6;
            background-color: transparent;
            border: none;
            margin-left: 30px;
        }
        button:hover{
            
            cursor: pointer;
        }
}

#cad_i.valid{
    border-color: #9F4FA6;
}
#cad_i.invalid{
    border-color: red;
}
#cad_text.off{
    opacity: 0;
    animation: fadeout 1s ;
}
#cad_i.off{
    opacity: 0;
    animation: fadeout 1s ;
}
#cad_b.off{
    opacity: 0;
    animation: fadeout 1s ;
}
#cad_text.on{
    opacity: 1;
    animation: fadein 1s ;
}


@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}